body {
   font-family: "Times New Roman", Times, serif;
   background: #BC8F8F;
   margin: 0;
   padding: 40px;
}

h1 {
   text-align: center;
   color: #FFFACD;
}

form {
   background: #FFE4E1;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   margin-bottom: 20px;
}

label {
   display: block;
   margin-top: 15px;
   font-weight: bold;
   color: #BC8F8F;
}

input {
   width: 100%;
   padding: 8px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

button {
   margin-top: 15px;
   padding: 10px 15px;
   background: #FFE4E1;
   color: Sienna;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
    
button:hover {
      background: #FFB6C1;
}

.movierating-list {
   background: #FFE4E1;
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.movie {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.movie:last-child {
  border-bottom: none;
}

.delete-btn {
  background: #e74c3c;
  margin-left: 10px;
}

.delete-btn:hover {
  background: #c0392b;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  display: inline;
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.star-rating input:checked ~ label {
  color: gold;
}
